form {
  text-align: left;
  background-color: var(--white);
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
fieldset {
  max-width: 600px;
  margin: 0 auto;
}
form .img {
  text-align: right;
}
form img {
  cursor: pointer;
  width: 40px;
}
form h1 {
  font-size: 42px;
  margin-top: 20px;
  color: var(--secondaryColor);
  font-family: "PlayFair Display";
  font-weight: bold;
}
.formControl {
  display: flex !important;
  margin: 10px auto !important;
}
.selectInput {
  margin-top: 20px !important;
}
.textInput.error input,
.textInput.error label,
.selectInput.error label {
  color: var(--errorColor);
}

.textInput.error div:before,
.selectInput.error div:before {
  background-color: var(--errorColor);
}
.textInput div:after,
.selectInput div:after {
  background-color: var(--secondaryColor);
}
.buttonField {
  margin: 60px auto;
  text-align: right;
}
form .simpleButton {
  color: var(--secondaryColor);
  transform: rotate(90deg) translateY(-20px);
}
legend {
  margin-top: 20px;
  flex: 0 1 100%;
}
@media screen and (max-width: 400px) {
  .checkbox {
    flex: 1 33%;
  }
}
