body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(309deg, var(--primaryColor), var(--secondaryColor));
  background-repeat: no-repeat;
  color: var(--white);
  text-align: center;
}

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}

@media screen and (max-width: 350px) {
  .wrapper {
    padding: 20px;
  }
}
