html {
  background-image: linear-gradient(327deg, var(--primaryColor), var(--secondaryColor));
  height: 100vh;
  width: 100vw;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans";
  color: var(--white);
  text-align: center;
  overflow: hidden;
  background-image: url("../images/pattern.png");
  background-repeat: repeat-x;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  text-align: center;
  padding: 15px 0;
}
